body{
    background-color: #1b1f27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.area-login{

    display: flex;
    height: 100vh;
    
    justify-content: center;
    align-items: center;

}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.login form{
    width: 355px;
    display: flex;
    flex-direction: column;
}

.login input{
 padding-left: 10px; 
background-color: #2c2d38;
border: none;
color: #cbd0f7;

height: 45px;
outline: none;
border-radius: 12px;
   margin-top: 10px;
}

.login img{
width: 65px;
height: auto;
}
input::placeholder{
 
 font-size: 14px;
    color: #cbd0f7;
}
form [type="submit"]{
    display: block;
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    }
    p{
        color:#9eb6e7;

    }
    a{
        color: #5568fe;
        text-decoration: none;
        margin-left: 10px;
    }